<div class="row mt-4">
    <div class="col-lg-4 offset-lg-4">
        <div class="card text-white bg-secondary mb-3" style="max-width: 30rem;">
            <div class="card-header text-center">Agregar Medicamento</div>
            <div class="card-body">
                <input type="email" class="form-control mt-1" placeholder="Ingrese nombre">
                <input type="email" class="form-control mt-1" placeholder="Ingrese descripción">
                <input type="email" class="form-control mt-1" placeholder="Ingrese precio">
                <input type="email" class="form-control mt-1" placeholder="Ingrese stock">
                <div class="row">
                    <div class="col-lg-6 mt-2 text-center">
                        <button routerLink="/mainmenu/medicamentos/" type="button" class="btn btn-info">Volver</button>
                    </div>
                    <div class="col-lg-6 mt-2 text-center">
                        <button type="button" class="btn btn-success">Aceptar</button>              
                    </div>
                </div>
    </div>
</div>

