<div class="container-fluid mt-3">
  <app-progress-bar *ngIf="loading"></app-progress-bar>
</div>

<h1 class="text-center">
  <span class="badge bg-primary">
    Medicamentos 
    <img src="https://cdn-icons-png.flaticon.com/128/3595/3595970.png" alt="Imagen" style="width: 12%;">
  </span>
</h1>

<div *ngIf="!loading" class="container">
    <div class="title">
        <h4>Listado de Medicamentos</h4>
        <button type="button" class="btn btn-info" routerLink="/mainmenu/drugs/add">Agregar Medicamento</button>
    </div>
    <table *ngIf="listDrugs.length > 0"  class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Descripción</th>
            <th scope="col">Precio</th>
            <th scope="col">Stock</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listDrugs" class="table-info">
            <td>{{ item.name }}</td>
            <td>{{ item.description }}</td>
            <td>{{ item.price | currency }}</td>
            <td>{{ item.stock }}</td>
            <th>
                <button routerLink="/mainmenu/drugs/edit/{{item.id}}" type="button" class="btn btn-warning btn-sm">Edit</button>
                <button (click)="deleteDrug(item.id!)" type="button" class="btn btn-danger btn-sm ms-2">Delete</button>
            </th>
          </tr>
        </tbody>
      </table>
      <div class="alert alert-dismissible alert-warning mt-3" *ngIf="listDrugs.length == 0">
        <h4 class="alert-heading">No hay medicamentos!!</h4>
        <p class="mb-0">No se encontró ningún dato en la base de datos. <a href="#" class="alert-link">Contacte a su administrador</a></p>
      </div>
</div>

