<div class="container">
    <div class="row justify-content-around text-center" style="margin-top: 4%; margin-right: -7%; margin-left: -13%;">
        <div class="col-md-2 mx-2">
            <!-- Contenedor 1 -->
            <div class="card card-container">
                <img src="https://cdn-icons-png.flaticon.com/128/1546/1546140.png" class="card-img">
                <div class="card-body" style="flex-grow: 1; display: flex; flex-direction: column; justify-content: space-between;">
                    <div>
                        <h5 class="card-title">Medicamentos</h5>
                        <p class="card-text">Inventario de medicamentos</p>
                    </div>
                    <a class="btn btn-primary mt-auto" routerLink="/mainmenu/drugs">Ingresar</a>
                </div>
            </div>            
        </div>
        <div class="col-md-2 mx-2">
            <!-- Contenedor 2 -->
            <div class="card card-container">
                <img src="https://cdn-icons-png.flaticon.com/128/4807/4807695.png" class="card-img">
                <div class="card-body" style="flex-grow: 1; display: flex; flex-direction: column; justify-content: space-between;">
                  <h5 class="card-title">Doctores</h5>
                  <p class="card-text">Doctores afiliados a la covertura de hospitales</p>
                  <a class="btn btn-primary mt-auto" routerLink="/mainmenu/doctors">Ingresar</a>
                </div>
            </div>
        </div>
        <div class="col-md-2 mx-2">
            <!-- Contenedor 3 -->
            <div class="card card-container">
                <img src="https://cdn-icons-png.flaticon.com/128/5170/5170737.png" class="card-img">
                <div class="card-body" style="flex-grow: 1; display: flex; flex-direction: column; justify-content: space-between;">
                  <h5 class="card-title">Pacientes</h5>
                  <p class="card-text">Miembros de la cadena de hospitales</p>
                  <a class="btn btn-primary" routerLink="/mainmenu/patients">Ingresar</a>
                </div>
            </div>
        </div>
        <div class="col-md-2 mx-2">
            <!-- Contenedor 4 -->
            <div class="card card-container">
                <img src="https://cdn-icons-png.flaticon.com/128/3595/3595970.png" class="card-img">
                <div class="card-body" style="flex-grow: 1; display: flex; flex-direction: column; justify-content: space-between;">
                  <h5 class="card-title">Recetas y Citas</h5>
                  <p class="card-text">Control de recetas y citas médicas de los pacientes</p>
                  <a class="btn btn-primary" routerLink="/mainmenu/prescription&appointments">Ingresar</a>
                </div>
            </div>
        </div>
        <div class="col-md-2 mx-2">
            <!-- Contenedor 5 -->
            <div class="card card-container">
                <img src="https://cdn-icons-png.flaticon.com/128/2666/2666505.png" class="card-img">
                <div class="card-body" style="flex-grow: 1; display: flex; flex-direction: column; justify-content: space-between;">
                  <h5 class="card-title">Examenes</h5>
                  <p class="card-text">Control de exámenes de los pacientes</p>
                  <a class="btn btn-primary" routerLink="/mainmenu/evaluations">Ingresar</a>
                </div>
            </div>
        </div>
    </div>
  </div>
  